.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
  transition: transform 0.3s ease;
}

.navbarScrolled {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.navbarBlurred {
  backdrop-filter: blur(10px);
  background-color: rgba(var(--ifm-navbar-background-color-rgb), 0.8);
}

@supports not (backdrop-filter: blur(10px)) {
  .navbarBlurred {
    background-color: var(--ifm-navbar-background-color);
  }
}
