.mainWrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.enhancedMainWrapper {
  transition: padding 0.2s ease;
  scroll-behavior: smooth;
  scroll-padding-top: var(--ifm-navbar-height);
}

@media (max-width: 996px) {
  .enhancedMainWrapper {
    padding-top: var(--ifm-navbar-height);
  }
}

@media print {
  .enhancedMainWrapper {
    padding-top: 0 !important;
  }
}
